* {
    margin: 0 auto;
}

.role_box {
    margin: 50px;
}

.dices_container {
    width: 400px;
    display: flex;
}

.role-button {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(51, 51, 51);
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
}

.role-button:hover {
    transition: 0.3s;
    background-color: rgb(185, 153, 226)
}

.role-button:disabled {
    cursor: auto;
}